---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Luu Vinh Loc's blog"
	pubDate={new Date('April 11 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Luu Vinh Loc is a software engineer and blogger.
	</p>
	<p>
		He is passionate about software development and enjoys sharing his knowledge with the world.
	</p>
	
</Layout>
